# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# SQLite database
*.db

# VS Code
.vscode/

# Mac system files
.DS_Store

# Logs
*.log
